.boutonOnOff {
	background-color: lightgrey; /* Green */
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
}

.boutonColor {
  border-radius: 100%;
  color:white;
  mix-blend-mode: color-dodge;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;

}

